/* @media (min-width: 768px) {

	.table-responsive {
		max-width: 100%;
	}
} */

  #tablaPrincipal_length{
    text-align: left; 
    font-size: 13px;
  }

  #tablaPrincipal_filter{
    text-align: right;
    font-size: 12px; 
  }

  #tablaPrincipal{
    font-size: 12px
  }

  .content-header h1 p{
    font-size: 10px!important;
  }

  #div-img{
    width: 33.3%!important;
  }

  #div-user{
    width: 33.3%!important;
  }

  #div-status{
    width: 33.3%!important;
  }

  #foto_perfil{
    width: 50px;
  }